@import "tailwindcss";

@theme {
    --color-backgroundClr: #F9FAF7;
    --color-backgroundClr-2: #F8F6F2;
    --color-foregroundClr: #1F2933;
    --color-foregroundClr-2: #4B5563;
    --color-primaryBtn-bg: #2F7D32;
    --color-primaryBtn-hover: #256628;
    --color-navbar: #256628;
    --color-secondaryBtn-bg: #66A46F;
    --color-secondaryBtn-hover: #7FB38A;
    --color-textBtn: #FFFFFF;
    --color-card: #FFFFFF;
    --color-border: #E5E7EB;
    --color-muted: #7E8399;
    --color-footer: #1B4D30;
}

html, body {
    @apply bg-backgroundClr text-foregroundClr scroll-smooth -z-100;
}

@layer utilities {
    .section {
        @apply pt-28;
    }

    .container {
        @apply max-w-[1258px] min-h-screen mx-auto px-4 sm:px-8 md:px-12 lg:px-16;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply leading-[1.2];
    }

    p {
        @apply leading-relaxed;
    }

    .title {
        @apply text-2xl md:text-4xl font-semibold text-foregroundClr uppercase leading-tight;
    }

    .subtitle {
        @apply text-foregroundClr-2;
    }

    .muted {
        @apply text-muted uppercase;
    }

    .home {
        @apply px-6 pt-10;
    }

    .navbar {
        @apply bg-navbar text-textBtn fixed z-100 w-full flex justify-between items-center p-5 transition-all duration-300 ease-in-out;

        .logo {
            @apply text-textBtn text-xl font-semibold transition-transform duration-300 hover:scale-105 md:text-2xl flex items-center justify-center gap-4;
        }
    }

    .nav-link {
        @apply transition-colors duration-300;
    }

    .underlined-animation {
        @apply absolute -bottom-1 left-0 h-0.5 w-0 bg-card transition-all duration-300 group-hover:w-full;
    }

    .button-animation {
        @apply max-w-0 opacity-0 translate-x-0 translate-y-10 transition-all duration-300 ease-out;
    }

    .group:hover .button-animation {
        @apply max-w-[50px] opacity-100 translate-0 transform transition-all duration-300 ease-in-out group-hover:translate-x-1;
    }

    .footer {
        @apply bg-footer;
    }
}

@layer components {
    .primary-btn {
        @apply overflow-hidden bg-primaryBtn-bg hover:bg-primaryBtn-hover focus:bg-primaryBtn-hover transition-colors text-textBtn p-4 lg:py-[16px] lg:px-10 rounded-md cursor-pointer duration-200;
    }

    .secondary-btn {
        @apply overflow-hidden bg-secondaryBtn-bg hover:bg-secondaryBtn-hover focus:bg-primaryBtn-hover transition-colors text-textBtn p-4 lg:py-[16px] lg:px-10 rounded-md border cursor-pointer duration-200 ;
    }
}